<%= form_tag(sessions_path) do %>
  <div class="login_margins">
    <div class="ui single column middle aligned stackable grid">
      <div class="column">
        <div class="ui form">
          <div class="field">
            <label>Email</label>
            <div class="ui left icon input">
              <%= text_field_tag :email, nil, required: true %>
              <i class="user icon"></i>
            </div>
          </div>
          <div class="field">
            <label>Password</label>
            <div class="ui left icon input">
              <%= password_field_tag :password, nil, required: true %>
              <i class="lock icon"></i>
            </div>
          </div>
          <div align="center">
            <%= submit_tag 'Login!', class: "ui blue submit button" %>
            Not a user? <%= link_to 'Sign Up!', signup_path %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>