<h1><%= @user.username %></h1>
<!-- Edit/Delete account -->
<% if session[:user_id] == @user.id %>
  <%= link_to "Edit or Delete Account", edit_user_path(@user) %><br><br>
<% end %>
<!-- end edit/delete -->

Following: <%= @user.following.count %><br>
Followers: <%= @user.followers.count %>
<% unless current_user == @user %>
  <div id="follow_form">
  <% if current_user.following?(@user) %>
    <%= render 'unfollow' %>
  <% else %>
    <%= render 'follow' %>
  <% end %>
  </div>
<% end %><br>

<!-- Create new picture -->
<% if session[:user_id] == @user.id %>
	<%= link_to 'Add a New Picture', new_picture_path %><br><br>
<% end %>

<!-- cards -->
<div class="ui four centered doubling cards">
	<% @user.pictures.reverse.each do |pic| %>
		<%= render partial: "pictures/card", locals: {pic: pic} %>
	<% end %>
</div>
<!-- end cards -->