<h1> <%= @picture.title %> </h1>

<p><img src="<%= @picture.image_url %>"></p>
<!-- add button for likes here I think -->

Tags: 
<% @picture.tags.each do |t| %>
	<%= link_to "#{t.name}", tag_path(t) %>
<% end %>

<%= form_for @comment do |f| %>
	<%= f.label 'new comment' %><br>
	<%= f.text_area 'content', required: true %><br><br>

	<%= f.hidden_field :picture_id, value: @picture.id %>

	<%= f.submit 'Add Comment' %> 
<% end %><br>


<p> Comments: </p>
<% @picture.comments.each do |comment| %>
	<fieldset>
	<%= link_to "#{comment.user.username}", user_path(comment.user) %><br>
	<p><%= comment.content %><p>
	<% if session[:user_id] == comment.user.id %>
		<%= link_to '✏️', edit_comment_path(comment) %> / 
		<%= link_to 'delete comment', comment_path(comment), method: "DELETE" %>
	<% end %><br>
	Posted at: <%= comment.created_at %>
	</fieldset>

<% end %>