<!DOCTYPE html>
<html>
  <head>

    <body>
      <h1 style="width:0px; margin:0 auto;">
        FG
      </h1>
    </body>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>  
  <fieldset>
  <nav class="ui meni">
      <a class="item"><u><%= link_to 'Home', root_path %></u></a>
      <% if logged_in? %>
        <a class="item"><u><%= link_to 'All Users', users_path %></u></a>
        <a class="item"><u><%= link_to 'My Profile', user_path(session[:user_id]) %></u></a>
      	<a class="item">You're logged in as <%= current_user.username %>! <u><%= link_to 'Logout', logout_path %></u></a>
      <% else %>
      	<a class="item"><u><%= link_to 'Login', login_path %></u></a>
        <a class="item"><u><%= link_to 'Sign Up', signup_path %></u></a>
      <% end %>
  </nav>
  </fieldset>
    <%= yield %>
  </body>
</html>
